@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
	font-family: 'Open Sans', sans-serif;
}

body {
	display:grid;
	grid-template-columns: 1fr 75em 1fr;
	grid-template-areas: 
	"header header header"
	". about-company ."
	;

}

.container {	
	display:flex;
	gap:4em;
	padding:4em;
}

.container > *  {
	
	flex-basis:100%;
	flex-grow: 1; 
	flex-shrink: 1;
}

.header {	
	grid-area: header;
	width:100%;
	color:white;
	text-transform: capitalize;
	background: 
		linear-gradient(90deg, rgba(2,0,36,1) 0%,
	 	rgba(0,0,0,0.6643032212885154) 0%),
		url("img/pics/header-background.webp");
	background-size:100%;
	background-repeat: no-repeat;
	background-position: fixed;
	height:45em;
	display:flex;
	flex-direction:column;
	gap: 10em;
}

.header-top {
	display:flex;
	gap:20em;
	justify-content: center;
	align-items: center;
	padding:2em;
	
	
}

.header-top h1 {
	text-transform: uppercase;
	font-size:2.5rem;
	font-weight: normal;
}


.header-top nav ul {
	display: flex;

	gap: 3em;
	align-content: center;
}

.current-page  {
	border-bottom: .18rem solid white;
	padding-bottom: 1rem;
}


.header-top nav ul li:hover {
	opacity: 0.7;
	cursor: pointer;
}

.header-top nav ul li:hover , .header-top nav ul li {
	transition: opacity .4s ease;
}

.header-bottom {
	display:flex;
	flex:1;
	flex-direction: column;	
	text-align: center;
	align-items:center;

}

.header-bottom p {
	font-size:3.5rem;
}

.header-bottom a {
	font-size:1rem;
}